@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-925;
  @apply font-source-sans;
}

#scroller {
  -webkit-mask:
    linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.bg-\[url\(\'\/img\/olieart\.png\'\)\] {
  background-image: url('/img/olieart.png');
}

.bg-\[url\(\'\/img\/medellin\.png\'\)\] {
  background-image: url('/img/medellin.png');
}

.bg-\[url\(\'\/img\/skeleton_placeholder\.png\'\)\] {
  background-image: url('/img/skeleton_placeholder.png');
}

.bg-\[url\(\'\/img\/api-gin\.png\'\)\] {
  background-image: url('/img/api-gin.png');
  background-position: left;
}